body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
   text-decoration: none;
   font-size: 13px;
}

a:visited {
   text-decoration: none;
}


.main-container {
   width: 70%;
   height: auto;
   max-height: auto;
   margin: 0 auto;
   padding: 2em;
}

.insert-container, .retrieve-container, .update-container {
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 30px;
}

.retrieve-container table {
   margin: 0 auto;
   border: 1px solid #f4f4f4;
}

.retrieve-container table th {
   padding: 15px;
   box-sizing: border-box;
   border: 1px solid #f2f2f2;
}

.retrieve-container table td {
   padding: 13px;
   box-sizing: border-box;
   border: 1px solid #f2f2f2;
   text-align: center;
}

.insert-container table,
.update-container table {
   margin: 0 auto;
}

.search-container {
   width: 59%;
   height: 30px;
   margin: 0 auto;
   text-align: right;
}

.insert-container table td,
.update-container table td {
   padding: 10px;
   box-sizing: border-box;
}

td#small-td {
   font-size: 11px;
   color: #666666
}


.pagination {
   display: inline-block;
   width: 100%;
   list-style-type: none;
}

.pagination a {
   color: black;
   float: left;
   padding: 3px 9px;
   text-decoration: none;
   transition: background-color .3s;
   border: 1px solid #ddd;
}

.pagination a.active {
   background-color: #4CAF50;
   color: white;
   border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.reports-table table, th, td {
   font-size: 14px;
   border: 1px solid black;
   border-collapse: collapse;
}

.reports-table td {
   font-size: 12px;
}

.reports-table table {
   width: 100%;
}

.reports-table tr:nth-child(even) {background-color: #f2f2f2;}

.search-container {
   width: 100%;
   margin-bottom: 2rem;
}

